# Platform
CONFIG_MACH_XIAOMI_GRUS=y

# Touchscreen
CONFIG_TOUCHSCREEN_GOODIX_GTX8=y

# Fingerprint
CONFIG_INPUT_FINGERPRINT=y
CONFIG_FINGERPRINT_GOODIX_FOD=y

# Power supply
# CONFIG_SMB1355_SLAVE_CHARGER is not set
CONFIG_CHARGER_BQ25910_SLAVE=y

# Lindroid
CONFIG_SYSVIPC=y
CONFIG_UTS_NS=y
CONFIG_PID_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_DRM_LINDROID_EVDI=y
